<section mbr-id="_anchor" class="mbr-section" mbr-bg-color="_params.bgColor">
  <style>
    .spinner {
      width: 40px;
      height: 40px;
      margin: 100px auto;
      background-color: #333;

      border-radius: 100%;
      -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
      animation: sk-scaleout 1.0s infinite ease-in-out;
    }

    @-webkit-keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0)
      }
      100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
      }
    }

    @keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0);
        transform: scale(0);
      }
      100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
      }
    }
  </style>
  <div class="blog-header">
    <div class="container">
      <h1 class="blog-title" mbr-if="_params.showTitle" mbr-html="title" data-app-edit="content" data-app-placeholder="Type Title" data-app-selector=".mbr-section-title"></h1>
      <p class="lead blog-description" mbr-if="_params.showCaption" mbr-html="caption" data-app-edit="content" data-multiline data-app-placeholder="Type Caption"></p>
    </div>
  </div>
  <div id="firebase-spinner" class="spinner" style="display: none"></div>

  <div class="container">

    <div class="row">

      <div class="col-sm-12 blog-main" id="firebase-articles" mbr-data-articles-number="_params.articlesNumber" mbr-data-show-author-name="_params.showArticleAuthorName" mbr-data-show-author-image="_params.showArticleAuthorImage" mbr-data-show-date="_params.showArticleDate" mbr-data-date-format="_params.dateFormat"
        mbr-data-header-bg-color="_params.panelColor" mbr-data-db-path="_params.dbPath" mbr-data-article-page="_params.articlePage" mbr-data-show-read-more="_params.showReadMore" mbr-data-show-older-posts="_params.showOlderPosts">

        <div class="blog-post">
          <div class="article-photo" style="float: left" mbr-if="_params.showArticleAuthorImage">
            <img class="img-responsive" src="http://placehold.it/100x100" style="margin-right:20px; border-radius: 50%;" />
          </div>
          <h2 class="blog-post-title"><a href="">Sample blog post</a></h2>
          <p class="blog-post-meta"><small mbr-if="_params.showArticleDate">January 1, 2014</small> <span mbr-if="_params.showArticleAuthorName">by Mark</span></p>

          <p>This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>

          <a mbr-if="_params.showReadMore" href="#">Read more...</a>
          <hr>
        </div>
        <!-- /.blog-post -->

        <div class="blog-post">
          <div class="article-photo" style="float: left" mbr-if="_params.showArticleAuthorImage">
            <img class="img-responsive" src="http://placehold.it/100x100" style="margin-right:20px; border-radius: 50%; height: 100px" />
          </div>
          <h2 class="blog-post-title"><a href="">Another blog post</a></h2>
          <p class="blog-post-meta"><small mbr-if="_params.showArticleDate">January 12, 2014</small> <span mbr-if="_params.showArticleAuthorName">by John</span></p>

          <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur
            purus sit amet fermentum.</p>

          <a mbr-if="_params.showReadMore" href="#">Read more...</a>
          <hr>
        </div>  <!-- /.blog-post -->
      </div>  <!-- /.blog-main -->
    </div>  <!-- /.row -->

    <nav mbr-if="_params.showOlderPosts" class="blog-pagination navbar-toggler-right">
      <a id="older-posts-button" class="btn btn-outline-primary" href="#" onclick="findPreviousPosts()">Older</a>
      <a id="newer-posts-button" class="btn btn-outline-secondary disabled" href="#" onclick="findNextPosts()">Newer</a>
      <script>
        var hasNewer = false;
        function findPreviousPosts() {
            var articles = document.getElementById('firebase-articles');
            articles.innerHTML = "";
            var articlesNum = articles.getAttribute("data-articles-number");
            var dbPath = articles.getAttribute("data-db-path");
            var recentPostsRef = firebase.database().ref(dbPath).orderByChild("order").limitToFirst(Number(articlesNum)).startAt(lastPostId);
            var hasNewer = true;
            fetchPosts(articles, recentPostsRef);
        }
        function findNextPosts() {
            var articles = document.getElementById('firebase-articles');
            articles.innerHTML = "";
            var articlesNum = articles.getAttribute("data-articles-number");
            var dbPath = articles.getAttribute("data-db-path");
            var recentPostsRef = firebase.database().ref(dbPath).orderByChild("order").limitToFirst(Number(articlesNum)).startAt(lastPostId);
            fetchPosts(articles, recentPostsRef);
        }
      </script>
    </nav>

  </div>  <!-- /.container -->

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var articles = document.getElementById('firebase-articles');
      var articlesNum = articles.getAttribute("data-articles-number");
      var dbPath = articles.getAttribute("data-db-path");
      var recentPostsRef = firebase.database().ref(dbPath).orderByChild("order").limitToFirst(Number(articlesNum));
      fetchPosts(articles, recentPostsRef);
    });
  </script>
</section>
